*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  width: 90%;
}
a{
  text-decoration: none;
}
@mixin input {
  background: transparent;
  padding: 0 10px;
  border-radius: 41px;
  border: 1px solid white;
  color: white;
  margin: 0 0 0 80px;
  width: 340px;
  height: 51px;
}
@mixin align {
  display: flex;
  align-items: center;
}
@mixin tittle{
  font-size: 96px;
  color: white;
}
@mixin center{
  width: 199px;
  height: 47px;
  left: 85px;
  top: 5213px;
  border: 1px solid #A7A7A7;
  border-radius: 39px;
}
@mixin five{
  font-weight: 500;
  font-size: 24px;
  color: #F1B864;
  text-align: center;
}
@mixin one{
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
@mixin hr{
  width: 32px;
  height: 31px;
  border-radius: 30px;
  margin: 0 0 0 1000px;
}
@mixin h2{
  font-weight: 500;
  font-size: 14px;
  color: #D29C10;
  padding: 30px;
}
@mixin ash1 {
  color: white;
  padding: 0 0 0 200px;
}
@mixin tittle2{
  font-size: 16px;
  color: white;
}
@mixin base{
  font-size: 35px;
  color: white;
}
@mixin white{
  font-size: 20px;
  color: #F1B864;
}
@mixin tittle3{
  font-size: 32px;
  color: white;
  text-align: center;
}