@import "mixin";
#header {
  background: #26272B54;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;

  .searcher {
    @include align;

    &--star {
      position: absolute;
      padding: 0 0 12px 130px;
    }

    &--tittle {
      color: white;
      font-size: 30px;

      span {
        font-size: 40px;
      }
    }

    &--input {
      @include input
    }

    &--search {
      color: white;
      position: absolute;
      padding: 0 0 0 540px;
    }

    &--menu {
      padding: 0 100px 0 150px;
      display: flex;
      justify-content: space-between;
      width: 25%;

      &__a {
        color: white;
      }
    }

    &--icon {
      color: white;
      padding: 0 0 0 20px;
    }
  }
}
#discover {
  background: #15141A;
  padding: 150px 0 100px 0;
  .discover {
    &--tittle {
      font-size: 20px;
      color: #EEB563;
    }
    &--star1{
      position: absolute;
      padding: 0 0 0 870px;
    }
    &--star2{
      position: absolute;
      padding: 20px 0 0 160px;
    }
    &--star4{
      position: absolute;
      margin: -40px 0 0 220px;
    }
    &--tittle1 {
      padding: 20px 0 0 190px;
      @include align;

      &__cover {
        @include tittle
      }

      &__img {
        width: 192px;
        height: 78px;
        padding: 0 20px;
      }

      &__collect {
        @include tittle
      }
    }
    &--tittle2 {
      @include align;
      padding: 0 0 0 270px;
      justify-content: space-evenly;
      width: 55%;

      &__sell {
        @include tittle
      }
    }
    &--star3{
      position: absolute;
      margin: -100px 0 0 970px;
    }
    &--remark{
      @include tittle;
      @include align;
      justify-content: center;
    }
    &--rectangle{
      position: absolute;
      padding: 0 0 0 1200px;
      margin: -90px 0 0 0;
    }
    &--find{
      @include tittle2;
      padding: 200px 0 0 0;
    }
    &--img2{
      padding: 0 0 0 430px;
      position: absolute;
    }
    &--img3{
      padding: 40px 0 0 600px;
    }
    &--img4{
      position: absolute;
      margin: -450px 0 0 1100px;
    }
    &--sponsors{
      @include align;
      padding: 150px 0 0 0;
      justify-content: space-between;
      &__base{
        @include base
      }
      &__bin{
        @include align;
        &--binance{
          @include base
        }
      }
      &__revolut{
        @include base
      }
      &__trans{
        @include align;
        &--tittle{
          @include base;
          margin: 0 0 0 -40px;
        }
      }
      &__meta{
        @include align;
        &--metamask{
          @include base
        }
      }
    }
    &--images{
      @include align;
      justify-content: space-between;
      padding: 20px 0 0 0;
    }
    &--rectangle7{
      position: absolute;
      padding: 260px 0 0 130px;
    }
    &--rectangle8{
      position: absolute;
      padding: 400px 0 0 300px;
    }
    &--star5{
      color: #EEB563;
      font-size: 60px;
      padding: 180px 0 0 300px;
    }
  }
}